.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.container-form p {
  width: 200px;
  margin: 16px 0;
}
.container-form form {
  display: grid;
  width: 200px;
}
